/* Barre en haut */
#navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 20px;
    box-sizing: border-box;

    background: #111;
    z-index: 1000;

    font-weight: 800;
    letter-spacing: -0.01em;
}

#navBar>a {
    padding: 10px 14px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s ease;

}

#link {
    position: fixed;
    display: flex;
    left: 10px;
    top: 8px;
    gap:5px

}

#linkImg {
    width: 40px;
}

#navBar>div:hover {
    background: rgba(255, 255, 255, 0.12);
}



#navBar a,
#navBar a:visited {
    color: #fff;
    /* jamais violet */
    text-decoration: none;
    /* pas souligné */
}

#navBar a:hover {
    background: rgba(185, 31, 31, 0.468);
}

#active {
    background: rgba(185, 31, 31, 0.468);
}


:root {
    --ui-font: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
    margin: 0;
    padding-top: 56px;
    font-family: "Rubik", system-ui, sans-serif;
    font-size: larger;
}


.class {
    font-weight: 700;
}

#pres div {
    width: fit-content;
}

#pres {
    padding-top: 20px;
    margin-left: 30px;
}

#pres {
    color: #212c5e;
}


#pres .title {
    color: #b10707;
    margin-left: -10px;
}


.grub {
    display: flex;
    gap: 10px;
}

.grub-label {
    margin-top: 8px;
}

.grub-list {
    position: relative;
    padding-left: 18px;
}

/* L'accolade */
.grub-list::before {
    content: "{";
    position: absolute;
    left: 0;
    bottom: 1px;

    /* “grossir” l’accolade */
    font-size: 2.6rem;

    /* l’étirer en hauteur pour couvrir les 2 lignes */
    transform: scaleY(1.0);
}



